# Dependencies
backend/node_modules/
frontend/node_modules/


# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build folders
build/
dist/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage/

# Cache
.cache/
.parcel-cache/
.next/
.vite/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Temporary files
*.tmp
*.temp

# PostgreSQL dumps
*.sql

# React
.eslintcache

# Nodemon
nodemon.json

# TypeScript
*.tsbuildinfo

# Package manager lock files (optional)
# package-lock.json
# yarn.lock
# pnpm-lock.yaml